<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="dotnet-ef" />
      <package pattern="Humanizer.Core" />
      <package pattern="Microsoft.Bcl.AsyncInterfaces" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Workspaces" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.Common" />
      <package pattern="Microsoft.EntityFrameworkCore.Design" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Collections.Immutable" />
      <package pattern="System.Composition" />
      <package pattern="System.Composition.AttributedModel" />
      <package pattern="System.Composition.Convention" />
      <package pattern="System.Composition.Hosting" />
      <package pattern="System.Composition.Runtime" />
      <package pattern="System.Composition.TypedParts" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.Reflection.Metadata" />
      <package pattern="System.Runtime.CompilerServices.Unsafe" />
      <package pattern="System.Text.Encoding.CodePages" />
      <package pattern="System.Threading.Channels" />
    </packageSource>
  </packageSourceMapping>
</configuration>
