<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="dotnet-ef" />
      <package pattern="Humanizer.Core" />
      <package pattern="Microsoft.Bcl.AsyncInterfaces" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Workspaces" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.Common" />
      <package pattern="Microsoft.EntityFrameworkCore.Design" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Collections.Immutable" />
      <package pattern="System.Composition" />
      <package pattern="System.Composition.AttributedModel" />
      <package pattern="System.Composition.Convention" />
      <package pattern="System.Composition.Hosting" />
      <package pattern="System.Composition.Runtime" />
      <package pattern="System.Composition.TypedParts" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.Reflection.Metadata" />
      <package pattern="System.Runtime.CompilerServices.Unsafe" />
      <package pattern="System.Text.Encoding.CodePages" />
      <package pattern="System.Threading.Channels" />
      <package pattern="MediatR" />
      <package pattern="MediatR.Contracts" />
      <package pattern="Microsoft.Data.Sqlite.Core" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.Abstractions" />
      <package pattern="Microsoft.EntityFrameworkCore.Analyzers" />
      <package pattern="Microsoft.EntityFrameworkCore.Relational" />
      <package pattern="Microsoft.EntityFrameworkCore.Sqlite" />
      <package pattern="Microsoft.EntityFrameworkCore.Sqlite.Core" />
      <package pattern="Microsoft.Extensions.Caching.Abstractions" />
      <package pattern="Microsoft.Extensions.Caching.Memory" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyModel" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="SQLitePCLRaw.bundle_e_sqlite3" />
      <package pattern="SQLitePCLRaw.core" />
      <package pattern="SQLitePCLRaw.lib.e_sqlite3" />
      <package pattern="SQLitePCLRaw.provider.e_sqlite3" />
      <package pattern="System.Memory" />
      <package pattern="System.Text.Encodings.Web" />
      <package pattern="System.Text.Json" />
      <package pattern="Microsoft.Extensions.ApiDescription.Server" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.Swagger" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
    </packageSource>
  </packageSourceMapping>
</configuration>
